<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.dementiacarejournal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name=".ui.SplashActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.LoginActivity">
        </activity>
        <activity android:name=".ui.CreateAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.dementiacarejournal.ui.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BehaviorLog"
            android:label="Behaviors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.dementiacarejournal.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.EmotionLog"
            android:label="Emotions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.dementiacarejournal.ui.BehaviorLog" />
        </activity>
        <activity
            android:name=".ui.ActivityLog"
            android:label="Activities">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.dementiacarejournal.ui.EmotionLog" />
        </activity>
        <activity
            android:name=".ui.Notes"
            android:label="Notes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.dementiacarejournal.ui.ActivityLog" />
        </activity>

    </application>

</manifest>